

.container {
    width: 100%;
    height: 50%;
    margin: 1% auto;
}

.slick-slide {
    height: auto;
    /* border: 4px solid black; */
    box-sizing: border-box;
    
}

.slick-slide img {
    height: 100%;
    width: 100%;
    border: 2.5px solid white;
    box-sizing: border-box;
}